# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../../:\OneDrive\学习资料\大三\人工智能原理\Exp 01\PSO Eight Digits Puzzle\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
